
img {
  margin-top: 2%;
  margin-left: 38%;
  margin-bottom: -9%;
}

#game-container {
  width: 65em;
  height: 35em;
  margin: 0 auto;
  margin-top: 10%;
  float: left;
  margin-left: 4%;
  background-color: #87cefa;
}

#score {
  width: 20em;
  height: 35em;
  float: right;
  margin-top: 10%;
  margin-right: 12%;
}

#game-top {
  width: 55em;
  height: 12em;
  border: 1px solid black;
  margin-left: 8%;
  margin-top: 8%;
  background-color: #ffe4b5;
}

#word {
  text-align: center;
  font-size: 4em;
  padding-top: 4%;
  letter-spacing: .1em;
  margin-left: 2%;
  word-wrap: break-word;
}

#button1, #button2 {
  width: 100em;
  padding-right:54%;
  text-align: center;
  display: inline-block;
}

#button1 {
  padding-top: 2%;
}

#A, #B,
#C, #D,
#E, #F,
#G, #H,
#I, #J,
#K, #L,
#M, #N,
#O, #P,
#Q, #R,
#S, #T,
#U, #V,
#W, #X,
#Y, #Z {
  width: 1.1em;
  font-size: 4em;
  background-color: pink;

}

#letters-used, #wrong-attemp, #score-now {
  width: 10em;
  height: 2.5em;
  border: 2px solid black;
  margin:0 auto;
  margin-left: 8%;
  font-size: 2em;
  font-weight: bold;
  background-color: #ffd700;
  text-align: center;
  padding-top: 5.5%;
  letter-spacing: .1em;

}

#letter-desc, #wrong-desc, #score-desc {
  font-size: 2em;
  margin-top: 5%;
  margin-left: 1%;
}

#play-buttons {
  border: none;
  color: black;
  padding: .2em .5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2em;
  margin-left: 10%;
  width: 100%;
  border-radius: 100px / 75px;
  margin-top: 12%;
}

#start {
  margin-right: 2em;
  background-color: #27d44a;
  border-radius: 100px / 75px;
}

#reset {
  background-color: #dcdcdc;
}

#clear1 {
  clear: both;
}
